 :root{
 --active-color: #2196F3;
 --main-font: #212121;
 --secondary-text:#757575;
 }

 
 body{
 color:#212121;
 background-color: white;
    
 font-family: Roboto, sans-serif ;
    
 letter-spacing: 0.03em;  
 }
  
    