.list-clients{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
@include tablet{

 margin-bottom: 94px;
          
}
@include desktop{
 
 margin-bottom: 94px;
 
            
}
}        
        
.clients{

font-weight: 700;
font-size: 28px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 30px;
margin-top: 60px;
color: black;



@include desktop {
    font-size: 36px;
    line-height: 1.16;

    margin-top: 94px;
    margin-bottom: 50px;
    
}
 
    }
    

    .company{
   
        margin-right: 30px;
        margin-bottom: 30px;
       @include desktop{
            &:last-child{
                margin-right: 0;
            }
        
          
        }
        
    }
    .company-link{
        fill: #AFB1B8;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        display: flex;
        padding: 16px 32px;
        cursor: pointer;
        transition-duration: 250ms;
       
        
             &:hover,
             &:focus{
             fill: #2196F3;
             border: 1px solid var(--active-color);
             transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
                
            }
        }
        
