
.box{
 padding-bottom: 0;

}

.feature {
    margin-top: 95px;
    margin-bottom: 95px;
    margin: 0;
    padding-inline-start: 0;
    
   
  @include mobile {
   
    
    }
   @include tablet {

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: 15px;
      margin-right: 15px;
    }
   @include desktop {
   
      flex-wrap: nowrap;
    
    }
  }
   
  .feature__icon {
    width: 450px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    @include tablet {
     width: 354px;
      height: 120px;
    }
    @include desktop {
     width: 270px;
      height: 120px;
    }
  }


 .feature__item {
  display: inline-block;
     justify-content: center;
     font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;

letter-spacing: 0.03em;

color: #757575;
margin-bottom: 30px;

    @include tablet {
       flex-basis: calc((100% - 3 * 30px) / 2);
       margin-right: 30px;
     }
     @include desktop {
       margin-right: 30px;
       flex-basis: calc((100% - 3 * 30px) / 4);
     }
   }
   .feature__item:nth-child(2n + 2) {
       @media screen and (min-width: 768px) and (max-width: 1199px) {
       margin: 0;
     }
     }
 
.feature__section{
    text-align: center;
    color: black;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 0.03em;
    

    @include tablet{
      text-align: left;
    }
  
   }
 
