 .header-link{
 color:var(--active-color) ;
 font-family: Raleway;
 font-weight: 700;
 font-size: 26px;
 line-height: 1.19;
 text-decoration: none; 

 }

.logo{
 color:var(--main-font);
 text-decoration: none; 
 }

 //logo footer

 .footer-link{
 color: var(--active-color);
   
 font-family: Raleway;
 font-size: 26px;
   
 line-height: 1.19;
 text-decoration: none;

 display: block;
   
 margin-bottom: 20px;   
 }

 .footer-logo{
 color: #FFFFFF;
 }
      