
.menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none;
    background-color: transparent;
    -webkit-transition: fill var(--active-color);
    transition: fill var(--active-color);
  }
  .is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.menu-open-btn{
    
        background-color: rgba(0,0,0,0);
        border: none;
}

.mob-menu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: var(--bg-header-color);
    box-shadow: 0px 4px 8px rgb(0 0 0 / 4%), 0px 2px 4px rgb(0 0 0 / 8%), 0px 1px 3px rgb(0 0 0 / 16%);
    overflow-y: auto;
}

.mob-menu-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
    padding: 48px 40px;
}

.menu-close-btn{
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    padding: 0;
}